@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 58%);
  --color-grey-900: hsl(217, 19%, 35%);
  --color-grey-500: hsl(214, 17%, 51%);
  --color-grey-400: hsl(212, 23%, 69%);
  --color-grey-200: hsl(210, 46%, 95%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-red: hsl(4, 100%, 67%);

  --text-preset1: 700 56px/100% "Roboto", sans-serif;
  --text-preset1-mobile: 700 40px/100% "Roboto", sans-serif;
  --text-preset2: 400 16px/150% "Roboto", sans-serif;
  --text-preset2-bold: 700 16px/150% "Roboto", sans-serif;
  --text-preset3: 700 12px/150% "Roboto", sans-serif;

  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-900: 4.5rem; /* 72px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
}

html,
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  background-color: var(--color-white);
}

body {
  /* 如果不开启特定的抗锯齿设置，字体往往会显得略微发虚、变粗，视觉上就会觉得“宽”了 */
  /* 针对 Chrome, Safari (Mac) */
  -webkit-font-smoothing: antialiased;
  /* 针对 Firefox (Mac) */
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  /* 这个强制居中不要用 */
  // align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--color-white);
}

main {
  display: flex;
}

.signup-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 44px;

  .header-img {
    width: 375px;
    height: 284px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .title {
        font: var(--text-preset1-mobile);
        color: var(--color-blue-800);
      }

      .desc {
        font: var(--text-preset2);
        color: var(--color-blue-800);
        width: 327px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      li {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        width: 327px;
        font: var(--text-preset2);
      }

      li::before {
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        background: url("/assets/images/icon-list.svg") no-repeat center center;
        background-size: contain;
        flex-shrink: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .email {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font: var(--text-preset3);
        }

        input {
          padding: 16px 24px;
          border: 1px solid var(--color-grey);
          border-radius: 8px;
          font: var(--text-preset2);
          color: var(--color-blue-800);
          caret-color: var(--color-blue-800);

          &::placeholder {
            color: var(--color-grey);
          }

          &:focus {
            border: 1px solid var(--color-blue-800);
            outline: none;
          }
        }
      }

      .submit {
        padding: 16px 48px;
        border-radius: 8px;
        background-color: var(--color-blue-800);
        color: var(--color-white);
        font: var(--text-preset2-bold);
      }
    }
  }
}

.submit-success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 623px;
  width: 327px;
  margin-top: 149px;
  margin-bottom: 70px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    img {
      width: 64px;
      height: 64px;
      display: block;
    }

    .title {
      font: var(--text-preset1-mobile);
      color: var(--color-blue-800);
    }

    .detail {
      font: var(--text-preset2);
      color: var(--color-blue-800);

      .email {
        font: var(--text-preset2-bold);
      }
    }
  }

  .dismiss {
    width: 324px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--color-blue-800);
    color: var(--color-white);
    font: var(--text-preset2-bold);
  }
}

.hidden {
  display: none;
}
