@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 58%);
  --color-grey-900: hsl(217, 19%, 35%);
  --color-grey-500: hsl(214, 17%, 51%);
  --color-grey-400: hsl(212, 23%, 69%);
  --color-grey-200: hsl(210, 46%, 95%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-red: hsl(4, 100%, 67%);
  --text-preset1: 700 56px/100% "Roboto", sans-serif;
  --text-preset1-mobile: 700 40px/100% "Roboto", sans-serif;
  --text-preset2: 400 16px/150% "Roboto", sans-serif;
  --text-preset2-bold: 700 16px/150% "Roboto", sans-serif;
  --text-preset3: 700 12px/150% "Roboto", sans-serif;
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-900: 4.5rem; /* 72px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
}

html,
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  background-color: var(--color-white);
}

body {
  /* 如果不开启特定的抗锯齿设置，字体往往会显得略微发虚、变粗，视觉上就会觉得“宽”了 */
  /* 针对 Chrome, Safari (Mac) */
  -webkit-font-smoothing: antialiased;
  /* 针对 Firefox (Mac) */
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /* 这个强制居中不要用 */
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--color-white);
}

main {
  display: flex;
}

.signup-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 44px;
}
.signup-view .header-img {
  width: 375px;
  height: auto;
  display: block; /* <--- 加上这一行，消除底部的 4px 幽灵间距 */
  -o-object-fit: cover;
     object-fit: cover; /*<--- 防止强制宽高导致图片变形 */
}
.signup-view .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.signup-view .container .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.signup-view .container .content .title {
  font: var(--text-preset1-mobile);
  color: var(--color-blue-800);
}
.signup-view .container .content .desc {
  font: var(--text-preset2);
  color: var(--color-blue-800);
  width: 327px;
}
.signup-view .container .content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.signup-view .container .content li {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 327px;
  font: var(--text-preset2);
}
.signup-view .container .content li::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: url("/assets/images/icon-list.svg") no-repeat center center;
  background-size: contain;
  flex-shrink: 0;
}
.signup-view .container form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.signup-view .container form .email {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.signup-view .container form .email .message {
  display: flex;
  justify-content: space-between;
}
.signup-view .container form .email label {
  font: var(--text-preset3);
}
.signup-view .container form .email .email-input {
  padding: 16px 24px;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  font: var(--text-preset2);
  color: var(--color-blue-800);
  caret-color: var(--color-blue-800);
}
.signup-view .container form .email .email-input::-moz-placeholder {
  color: var(--color-grey);
}
.signup-view .container form .email .email-input::placeholder {
  color: var(--color-grey);
}
.signup-view .container form .email .email-input:focus {
  border: 1px solid var(--color-blue-800);
  outline: none;
}
.signup-view .container form .email.error input {
  color: var(--color-red);
  border-color: var(--color-red);
}
.signup-view .container form .submit {
  padding: 16px 48px;
  border-radius: 8px;
  background-color: var(--color-blue-800);
  color: var(--color-white);
  font: var(--text-preset2-bold);
}

.input-group .error-info {
  display: none;
  font: var(--text-preset3);
  color: var(--color-red);
}

.input-group.error .error-info {
  display: flex;
}

.submit-success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 623px;
  width: 327px;
  margin-top: 149px;
  margin-bottom: 70px;
}
.submit-success .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.submit-success .container img {
  width: 64px;
  height: 64px;
  display: block;
}
.submit-success .container .title {
  font: var(--text-preset1-mobile);
  color: var(--color-blue-800);
}
.submit-success .container .detail {
  font: var(--text-preset2);
  color: var(--color-blue-800);
}
.submit-success .container .detail .email {
  font: var(--text-preset2-bold);
}
.submit-success .dismiss {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: var(--color-blue-800);
  color: var(--color-white);
  font: var(--text-preset2-bold);
}

.hidden {
  display: none;
}

/* 最佳实践写法 */
@media screen and (min-width: 768px) {
  body {
    background-color: var(--color-blue-700);
  }
  main {
    background-color: var(--color-white);
    border-radius: 38px;
  }
  .signup-view {
    padding: 40px;
  }
  .signup-view .header-img {
    width: 528px;
    height: auto;
  }
  .signup-view .container .content .title {
    font: var(--text-preset1);
  }
  .signup-view .container .content .desc {
    width: 528px;
  }
  .signup-view .container .content li {
    width: 528px;
  }
  .submit-success {
    height: auto;
    width: 376px;
    gap: 32px;
    margin: 64px;
  }
  .submit-success .container .title {
    font: var(--text-preset1);
  }
}
@media screen and (min-width: 1280px) {
  .signup-view {
    flex-direction: row-reverse;
    gap: 64px;
    padding: 32px;
  }
  .signup-view .header-img {
    width: 400px;
    height: auto;
  }
  .signup-view .container .content .desc {
    width: 376px;
  }
  .signup-view .container .content li {
    width: 376px;
  }
}/*# sourceMappingURL=styles.css.map */